---
import { SiteData } from "@/content/SiteData";

// Footer.astro
---

<footer class="my-5 text-center font-extralight">
    <p>&copy; {new Date().getFullYear()} {SiteData.title}. All rights reserved.</p>
</footer>