---
import { SiteData } from "@/content/SiteData";
// Footer.astro
---

<footer class="my-8 p-3 text-center font-extralight text-xl min-h-[5vh] w-full" aria-label="Site Footer">
  <p>&copy; {new Date().getFullYear()} {SiteData.title}. All rights reserved.</p>
</footer>
