---
import { SiteData } from '@/content/SiteData';
import { Picture } from 'astro:assets';
---
<header class="header w-full min-h-[20vh] flex justify-center items-center" role="banner">
  <a href="/" aria-label="Home">
    <Picture 
      src={SiteData.logo.src} 
      alt={SiteData.title} 
      formats={['avif', 'webp']} 
      fallbackFormat="png" 
      loading="eager" 
      fetchpriority="high" 
      class='pt-8 my-6 w-md h-max md:w-xl'
    />
  </a>
</header>
