---
import { SiteData } from '@/content/SiteData';
import { Image } from 'astro:assets';
---
<header class="header w-full py-10 flex justify-center items-center"> 
  <a href="/">
    <Image src={SiteData.logo.src} alt={SiteData.logo.alt} width={520} height={210} format='avif' loading="eager"  />
  </a>
</header>
