---
// src/components/ListItem.astro
const { item, collectionName } = Astro.props;
import Check from "@/assets/check.png";
import { Image } from "astro:assets";
---
<li class="flex justify-start items-start py-2 text-2xl font-light">
  <Image
    height="25"
    width="25"
    src={Check.src}
    alt="Check"
    loading="lazy"
    class="pr-1"
    format="avif"
  />
  <div class="list-content ml-2">
    <h3>{item.data.title}</h3>
    <p>{item.body}</p>
  </div>
</li>
